
<script type="text/javascript">
    function headers(){
let links = document.querySelectorAll(".nav-link")
      for(let link of links){
        link.addEventListener("click",function(e){
            for(let nav of links){
                nav.classList.remove("text-success")
            }
            link.classList.add("text-success")
        })
      }
    }
    function form(){
        let name=document.querySelector(".regex-nom")
        name.addEventListener("keyup",function(e){
           let current= e.currentTarget.value
           let div = document.querySelector(".regex-ajout")
      if (current.match(/[^AZa-z0-9_\.]/)){
       div.classList.remove("d-none")
     }else{
        if(div.classList.contains("d-none")){
            div.classList.add(" ")
        }else{
            div.classList.add("d-none")
        }
     }
        })
    }
    headers()
    form()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>