
<script type="text/javascript">
    function headers(){
let links = document.querySelectorAll(".nav-link")
      for(let link of links){
        link.addEventListener("click",function(e){
            for(let nav of links){
                nav.classList.remove("active")
            }
            link.classList.add("active")
        })
      }
    }
    /*
    function animate(){
       let selector=document.querySelector("#noumene")
      let increment=1
      let ns = selector.innerText
      let length= ns.length
      let array=Array.from(ns)
      let slice= array.slice(0,1).join("")
     window.setInterval(function(){
          increment++
          if(increment>7){
            increment=1
          }
          let slice= array.slice(0,increment).join("")
          selector.append(slice)
     },2000)

      console.log(slice)

    }*/
    headers()
    //animate()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>